

.silent{
    background-image: url(images/silent.png);
    margin-bottom: 40px; 
}
.compute{
    background-image: url(images/computeIt.jpg);
    margin-bottom: 40px; 
}
.frog{
    background-image: url(images/froggy.png); 
}
.lien{
    width: 40%;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 8% 0 0 8%;   
}
.lien a{
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: center;
    
    font-size: medium;
}

.text{
    width: 90%;
    display: flex;
    
}
.parent{
    min-height: calc(686px - 199px);
    margin: 20px 0;
}

.align{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image:linear-gradient(to right, #113e53, white);
    margin-bottom: 40px;
    width: 50%;
}
.align3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image:linear-gradient(to right, #65778d, white);
    margin-bottom: 40px;
    width: 50%;
}

.align2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image:linear-gradient(to right,#1f5768, white);
    width: 50%;
}
 
